/* resert css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1 {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(45deg, rgb(70, 0, 103), rgb(141, 83, 46));
  margin-bottom: 20px;
}

.box2 {
  width: 50%;
  height: 50%;
  background-image: linear-gradient(90deg, rgb(205, 132, 216), rgb(146, 62, 62));
  margin-bottom: 20px;
}

.box3 {
  width: 100vw;
  height: 50vh;
  background-image: linear-gradient(180deg, rgb(210, 127, 210), rgb(130, 94, 100));
}

.box4 {
  width: 2rem;
  height: 2rem;
  background-image: linear-gradient(135deg, rgb(100, 153, 175), rgb(176, 127, 29));
}
.parent {
    display: flex;
    gap: 20px;
}

.child {
    width: 500px;
    height: 500px;
    background: lightpink; 
}