* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;    
  padding: 20px;
}

.box1{
  background: #000;
  color: #fff;
  padding: 45px 45px; 
}
.box2 {
  background: #000;
  color: #fff;    
  padding: 45px 45px;       
}