* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container {
  background: #996ab0;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 420px;
}
.row {
  display: flex;
  gap: 12px;
  align-items: center;
}
.box {
  background: #ab772e;
  height: 45px;
  border-radius: 8px;
  flex: 2;
}
.middle {
  flex: 1;
}

.short {
  height: 30px;
}