/* restart css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
  flex-direction: row;
    background: rgb(153, 93, 181) 
    
}
.b {
  display: flex;
  flex-direction: row;
}
.cube {
    width: 45px;
    height: 45px;
    background: rgb(247, 148, 31);
    border-color: rgb(63, 38, 68);
    display: inline-block;
    margin: 5px;
}
.cube2 {
  background: rgb(247, 148, 31);
  border-color: rgb(63, 38, 68);
  width: 45px;
  height: 45px;
  display: flex;
  margin: 5px;
}