* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(153, 93, 181);
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    gap: 10px;
}

.box {
    width: 50px;
    height: 50px;
    background: rgb(247, 148, 31);
    border: 2px solid rgb(63, 38, 68);  
}