* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 40px;
}
.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.box {
  width: 25%;
  height: 150px;
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  .box {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .box {
    width: 100%;
  }
}