/* restart css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-1{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(102, 68, 117) , rgb(81, 81, 158));
}

.div-2{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(255, 255, 255) , rgb(153, 144, 74));
}

.div-3{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(71, 162, 150) , rgb(139, 61, 59));
}

body{
    background-color: rgb(57, 57, 57);
}

.divflex{
    display: flex;
}

.divflex1{
    width: 10rem;
    height: 10rem;
    background-color: rgb(188, 116, 188);
    border: solid 2px;}

.divflex2{
    width: 10rem;
    height: 10rem;
    background-color: rgb(197, 157, 126);
    border: solid 2px;
}

.divflex3{
    width: 10rem;
    height: 10rem;
    background-color: rgb(234, 189, 189);
    border: solid 2px;
}

.divflex4{
    width: 10rem;
    height: 10rem;
    background-color: rgb(162, 199, 207);
    border: solid 2px;
}