/* restart css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.four-boxes {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 5px;
}

.box {
    width: 50px;
    height: 50px;
}


.red { background: red; }
.palevioletr{ background: palevioletred; }
.orange{ background: orange; }
.purple { background: purple; }