/* restart css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.box{
  width: 60px;
  height: 60px;
  margin: 5px;
}

.aqua{ 
    background:aqua; 
}
.plum{ 
    background:plum; 
}
.goldenrod{ 
    background:goldenrod; 
}
.orchid{ 
    background:orchid; 
}