/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.just-font {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: oblique; 
  font-variant: small-caps; 
}


  color: #2b2b2b;
  text-align: center;
  padding: 50px;
}

.just-font {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: oblique; 
  font-variant: small-caps; 
}

