/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: "SoftFont";
  src: url("../font/Roboto/Roboto-Italic-VariableFont_wdthwght.ttf") format("woff2");
}

body {
  background-color: #c2f0ff; 
  font-family: "SoftFont", cursive;
  color: #2b2b2b;
  text-align: center;
  padding: 50px;
}