/* restart css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
   align-items: center; 
    justify-content: center;  
    display: flex; 
}

.box {
  width: 100px;
  height: 100px;
  background: rgb(180, 116, 180);
  margin: 5px;
}
